body          { font-family: 'Abhaya Libre', serif;
                margin: 10px auto;
                width: 1040px;
                padding-top: 30px;
              }

h2            { text-align: center;
              }

.header       { border-width: thin;
                border-color: white;
                border-style: solid;
                margin-bottom: 10px;
                border-bottom-width: thin;
                border-bottom-color: black;
                border-bottom-style: solid;
              }

.green        { color: #017C4D;
              }

.Logo         { text-align: left;
                float: left;
                padding-right: 20px;
              }

.Firmenname   { font-size: 50px;
              }

.Slogan       { text-align: center;
                font-size: 18px;
                margin-bottom: 10px;
                border-bottom-width: thin;
                border-bottom-color: black;
                border-bottom-style: solid;
              }

section       { text-align: center;
              }

footer        { text-align: center;
                margin-bottom: 10px;
                border-width: thin;
                border-color: black;
                border-style: solid;
              }

main          { border-width: thin;
                border-color: black;
                border-style: solid;
                border-bottom: none;
              }
